# While Nexus does not have strict version requirements, this requirements file
# corresponds to versions that have been tested and are known to work.
# Last updated: 2026/1/21

numpy>=1.13.0
scipy>=0.19.0
matplotlib>=2.0.0
h5py>=2.6.0
spglib>=1.12.0.post3 # Some functionality is broken in 2.5.0
cif2cell>=2.1.0
pydot>=1.2.4
seekpath>=1.9.0