# https://clang-format-configurator.site
# Copyright 2020-2026 Alfredo A. Correa
# this format specification requires clang-format version 15, it is optimized for clang-format version 19
---
Language: Cpp
AccessModifierOffset: -3
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros: None
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowShortLambdasOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: No
# BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BraceWrapping:
  BeforeLambdaBody: false
ColumnLimit: 0
QualifierAlignment: Right
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: <(boost\/multi)\/
    Priority: 1
  - Regex: <([A-Za-z0-9\Q/-_\E])+>
    Priority: 5
  - Regex: <(boost)\/
    Priority: 4
  - Regex: <([A-Za-z0-9.\Q/-_\E])+>
    Priority: 3
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 2
# IndentPPDirectives: Leave
# IndentPPDirectives: None
IndentWidth: 4
# LambdaBodyIndentation: Signature
# OneLineFormatOffRegex: "CLANG_FORMAT_OFF"
# PackConstructorInitializers: CurrentLine
PenaltyBreakTemplateDeclaration: 10
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: false
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: false  # AfterNot: false
  AfterOverloadedOperator: false  # AfterPlacementOperator: false
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInLineCommentPrefix:
  Minimum: 1
Standard: c++17
TabWidth: 4
UseTab: ForContinuationAndIndentation
WhitespaceSensitiveMacros:
  - BOOST_TEST
