---
Checks: '*,
  -altera-struct-pack-align,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -fuchsia-default-arguments-declarations,
  -fuchsia-default-arguments-calls,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,
  -google-runtime-references,
  -hicpp-no-array-decay,
  -llvm-header-guard,
  -llvm-prefer-static-over-anonymous-namespace,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-inline-function-decl,
  -llvmlibc-restrict-system-libc-headers,
  -misc-include-cleaner,
  -modernize-use-trailing-return-type,
  -modernize-concat-nested-namespaces,
  -modernize-use-nodiscard,
  -readability-identifier-length,
  -readability-magic-numbers
'
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,         value: lower_case }
  - { key: readability-identifier-naming.ClassCase,             value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberSufix,    value: _          }
  - { key: readability-identifier-naming.StructCase,            value: lower_case }
  - { key: readability-identifier-naming.FunctionCase,          value: lower_case }
  - { key: readability-identifier-naming.TemplateParameterCase, value: CamelCase  }
WarningsAsErrors: '*'
HeaderFilterRegex: '.'
FormatStyle: file
