---
# Copyright 2020-2026 Alfredo A. Correa

# Global Settings
WarningsAsErrors: '*'
HeaderFilterRegex: '.'
FormatStyle: file

# Enabled/Disabled Diagnostic Checks
Checks: >
  *,
  -altera-struct-pack-align,
  -boost-use-ranges,
  -cert-dcl21-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -fuchsia-*,
  -hicpp-no-array-decay,
  -llvm-prefer-static-over-anonymous-namespace,
  -llvm-use-ranges,
  -llvmlibc-*,
  -modernize-use-nodiscard,
  -readability-magic-numbers,
  -readability-simplify-boolean-expr

# Check Configuration Overrides
CheckOptions:
  modernize-use-trailing-return-type.TransformLambdas: 'none'
  readability-identifier-length.IgnoredLoopCounterNames: '^[ijk_]$'
  readability-identifier-length.IgnoredParameterNames: '^[abcdemnprstuvwxyz_]$'
  readability-identifier-length.IgnoredVariableNames: '^[ijk_]$'
  readability-identifier-length.MethodCase: 'lower_case'
  readability-identifier-length.MinimumLoopCounterNameLength: '2'
  readability-identifier-length.MinimumParameterNameLength: '2'
  readability-identifier-length.MinimumVariableNameLength: '2'
  readability-identifier-naming.ClassCase: 'lower_case'
  readability-identifier-naming.FunctionCase: 'lower_case'
  readability-identifier-naming.GlobalConstantCase: 'aNy_CasE'
  readability-identifier-naming.NamespaceCase: 'lower_case'
  readability-identifier-naming.PrivateMemberPrefix: ''
  readability-identifier-naming.PrivateMemberSuffix: '_'
  readability-identifier-naming.PrivateMethodSuffix: '_'
  readability-identifier-naming.PrivateTypedefSuffix: '_'
  readability-identifier-naming.StructCase: 'lower_case'
  readability-identifier-naming.TemplateParameterCase: 'CamelCase'
  readability-identifier-naming.TypeTemplateParameterIgnoredRegexp: 'expr-type'
  readability-operators-representation.BinaryOperators: '&&;&=;&;|;~;!;!=;||;|=;^;^='
  # TODO(correaa) - readability-identifier-naming.PrivateTypeAliasSuffix: '_'

## Explanation of the suppressed rules above:
#  -altera-struct-pack-align: Needs non-standard pragmas like __attribute__((packed)); interferes with gcc/nvcc.
#  -boost-use-ranges: Avoids introducing a hard dependency on Boost Ranges.
#  -cert-dcl21-cpp: Asks postfix operator++ to return a const value.
#  -cppcoreguidelines-avoid-magic-numbers: Suppressed because test suites heavily utilize magic numbers.
#  -cppcoreguidelines-macro-usage: BLAS adaptors use extensive macros.
#  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access: Prevent failures on magic-number test parameters.
#  -fuchsia-statically-constructed-objects: Used widely for traits, like is_const_subarray.
#  -fuchsia-default-arguments-calls: Library relies on STL functions which utilize default arguments.
#  -fuchsia-overloaded-operator: This library deliberately overloads math/comparison operators (==, <, +, &).
#  -hicpp-no-array-decay: Required compatibility for Boost Lightweight Test framework.
#  -llvm-prefer-static-over-anonymous-namespace: Contradicts alternative internal namespace layout rules.
#  -llvm-use-ranges: Asks to use things like llvm::filld1D
#  -llvmlibc-*: Suppresses noise; target rules are strictly for internal LLVM implementation developers.
#  -modernize-use-nodiscard: Avoids flooding the API surface with noisy [[nodiscard]] attributes everywhere.
#  -readability-magic-numbers: Suppressed because test suites heavily utilize magic numbers.
#  -readability-simplify-boolean-expr: Fixes interference with Boost Lightweight Test's BOOST_TEST macros.
...
